.container_products_similar{
    width: 100%;
    max-width: 1200px;    
    padding: 50px 25px;
    
    display: flex;
    flex-direction: column;
    
    position: relative;
    

}

.text_similar_products{
    position: absolute;
    top: 10px;
    left: 5%;
}